* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

.card {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 1s;
    transition-delay: 0.5s;

}

.card:hover {
    width: 600px;
    transition: 1s;
}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

.card .circle::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #333;
    border: 8px solid green;
    filter: drop-shadow(0 0 10px green) drop-shadow(0 0 60px green);
    transition: 0.5s, background 0.5s;
    transition-delay: 0.7s, 1s;

}

.card:hover .circle::before {
    transition-delay: 0.3s;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: green;
}

.card .circle .logo {
    position: relative;
    width: 250px;
    transition: 0.2s;
    transition-delay: 0.4s;
}

.card:hover .circle .logo {
    transform: scale(0);
    transition-delay: 0;

}

.card .product_img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0) rotate(315deg);
    height: 300px;
    transition: 0.5s ease-in-out;
}

.card:hover .product_img {
    top: 65%;
    left: 95%;
    height: 350px;
    transition-delay: 0.7s;

    transform: translate(-50%, -50%) scale(1) rotate(0deg);

}

.card .content {
    position: absolute;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    transition: 0.5s;
    visibility: hidden;

}

.card:hover .content {
    transition-delay: 0.7s;
    opacity: 1;
    visibility: visible;
    left: 20px;
}

.card .content h2 {
    color: white;
    font-size: 3em;
    line-height: 1em;

}

.card .content p {
    padding: 10px;
    color: white;
}

.card .content a {
    position: relative;
    color: green;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    text-decoration: none;
}

span {
    font-weight: bold;
    color: white;
    background-color: rgb(0, 95, 0);
    border-radius: 5px;
    padding: 3px;
}